@use "abstracts/variables" as *;
@use "abstracts/mixin" as *;
@use "base/base" as *;
@use "base/typo" as *;
@use "components/button" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: $font-family-base;
  // padding: 0 9rem;
  background-color: $neutral-silver;
}

.container {
  max-width: 144rem;
  margin: auto;
}

.header {
  // @include flex-between;
  width: 100%;
  padding: 3rem 10.5rem;
  &__nav {
    ul {
      list-style: none;
      display: flex;
      gap: 5rem;
    }
  }
  &__nav-item {
  }
  &__regis {
    display: flex;
    gap: 1.4rem;
  }
}

.slider {
  gap: 10.4rem;
  padding: 9.6rem 14.4rem;
  &__heading {
    span {
      color: $primary-color;
    }
  }
  &__sub-heading {
    margin: 1.6rem 0 3.6rem 0;
  }
}
