a {
  text-decoration: none;
  color: inherit;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section {
  margin-top: 4rem;
}
.section__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 1.6rem;
}
.section__heading {
  color: #263238;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4.4rem;
  text-align: center;
  max-width: 54.2rem;
}
.section__sub-heading {
  color: #263238;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  text-align: center;
  width: 62.8rem;
}

.shadow--sm {
  border-radius: 1rem;
  box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.6);
}
.shadow--md {
  border-radius: 1rem;
  box-shadow: 0px 4px 8px 0px rgba(171, 190, 209, 0.4);
}
.shadow--lg {
  border-radius: 1rem;
  box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.4);
}
.shadow--xxl {
  border-radius: 1rem;
  box-shadow: 0px 16px 32px 0px rgba(171, 190, 209, 0.3);
}

.headline1 {
  color: #263238;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 7.6rem;
}

.headline2 {
  color: #263238;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4.4rem;
}

.headline3 {
  color: #263238;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.6rem;
}

.headline4 {
  color: #263238;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.8rem;
}

.body1--regular {
  color: #263238;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem;
}

.body2--regular {
  color: #263238;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}

.body3--regular {
  color: #263238;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}

.body4--regular {
  color: #263238;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem;
}

.body1--medium {
  color: #263238;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.8rem;
}

.body2--medium {
  color: #263238;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;
}

.body3--medium {
  color: #263238;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem;
}

.body4--medium {
  color: #263238;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6rem;
}

.btn__primary--default {
  cursor: pointer;
  display: inline-flex;
  padding: 1.6rem 3.2rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  border: 0;
  border-radius: 0.4rem;
  background: #4caf4f;
  color: #fff;
}
.btn__primary:hover {
  cursor: pointer;
  display: inline-flex;
  padding: 1.6rem 3.2rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  border: 0;
  border-radius: 0.4rem;
  background: #4caf4f;
  color: neutral-white;
}
.btn__primary--focus {
  cursor: pointer;
  display: inline-flex;
  padding: 1.6rem 3.2rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  border: 0;
  border-radius: 0.4rem;
  background: #4caf4f;
  color: neutral-white;
  border: 2px solid #4d4d4d;
}
.btn__primary--click {
  cursor: pointer;
  display: inline-flex;
  padding: 1.6rem 3.2rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  border: 0;
  border-radius: 0.4rem;
  background: #388e3b;
  color: neutral-white;
}
.btn__primary--disable {
  cursor: pointer;
  display: inline-flex;
  padding: 1.6rem 3.2rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  border: 0;
  border-radius: 0.4rem;
  background: #f5f7fa;
  color: #abbed1;
}
.btn__tertiary--default {
  cursor: pointer;
  display: inline-flex;
  padding: 1.6rem 3.2rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  border: 0;
  border-radius: 0.4rem;
  background: #f5f7fa;
  color: #4caf4f;
}
.btn__tertiary:hover {
  cursor: pointer;
  display: inline-flex;
  padding: 1.6rem 3.2rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  border: 0;
  border-radius: 0.4rem;
  background: #fff;
  color: #4caf4f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Inter", sans-serif;
  background-color: #f5f7fa;
}

.container {
  max-width: 144rem;
  margin: auto;
}

.header {
  width: 100%;
  padding: 3rem 10.5rem;
}
.header__nav ul {
  list-style: none;
  display: flex;
  gap: 5rem;
}
.header__regis {
  display: flex;
  gap: 1.4rem;
}

.slider {
  gap: 10.4rem;
  padding: 9.6rem 14.4rem;
}
.slider__heading span {
  color: #4caf4f;
}
.slider__sub-heading {
  margin: 1.6rem 0 3.6rem 0;
}

.content {
  padding: 0 14.4rem;
}
.content .clients-logo {
  height: 9.8rem;
}
.content .community__card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .community__card {
  display: flex;
  width: 29.9rem;
  padding: 2.4rem 3.2rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.8rem;
  flex-shrink: 0;
  border-radius: 1rem;
  box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.2);
}
.content .community__card-img {
  margin-bottom: 1.6rem;
}
.content .community__card-img {
  margin-bottom: 1.6rem;
}
.content__body .section {
  margin-top: 4.8rem;
}
.content__body .unlock__img,
.content__body .calenders__img {
  padding: 5.2rem 0;
}
.content__body .unlock__text,
.content__body .calenders__text {
  width: 66rem;
}
.content__body .unlock__heading,
.content__body .calenders__heading {
  margin-bottom: 1.6rem;
}
.content__body .unlock__sub-heading,
.content__body .calenders__sub-heading {
  margin-bottom: 3.2rem;
}
.content__body .achievements__text {
  display: flex;
  width: 54rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
  flex-shrink: 0;
}
.content__body .achievements__heading {
  width: 40rem;
}
.content__body .achievements__heading span {
  color: #4caf4f;
}
.content__body .achievements__counts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem 3rem;
  width: 54rem;
}
.content__body .achievements__item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.content__body .customers {
  display: flex;
  gap: 7.8rem;
}
.content__body .customers__img img {
  width: 32.6rem;
  height: 32.6rem;
  flex-shrink: 0;
  border-radius: 0.8rem;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.4);
}
.content__body .customers__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;
  flex: 1 0 0;
}
.content__body .customers__comment {
  margin-bottom: 1.6rem;
  color: #717171;
}
.content__body .customers__name {
  color: #4caf4f;
}
.content__body .customers__role {
  color: #89939e;
}
.content__body .customers__text-footer {
  width: 100%;
  gap: 3.2rem;
}
.content__body .customers__icon {
  gap: 4.1rem;
}
.content__body .community-updates {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}
.content__body .community-updates__content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.content__body .community-updates__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.content__body .community-updates__card .community-updates__img img {
  width: 36.8rem;
  height: 28.6rem;
  object-fit: cover;
  border-radius: 0.8rem;
}
.content__body .community-updates__card-info {
  position: absolute;
  bottom: -9.6rem;
  display: flex;
  padding: 1.6rem;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  border-radius: 0.8rem;
  background: #f5f7fa;
  border-radius: 1rem;
  box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.4);
}
.content__body .community-updates__card-info p {
  width: 27rem;
  text-align: center;
}
.content__body .community-updates__card-info button {
  display: flex;
  padding: 0.8rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  align-self: stretch;
}

.footer {
  margin-top: 16rem;
}
.footer__top {
  display: flex;
  padding: 3.2rem 0rem;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}
.footer__top p {
  width: 88.7rem;
  text-align: center;
}
.footer__content {
  background: #263238;
  display: flex;
  padding: 6.4rem 16.5rem;
  align-items: flex-start;
  gap: 12.5rem;
}
.footer__content-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
}
.footer__content-left .footer__copyright-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  color: #717171;
}
.footer__content-left .footer__copyright-info p {
  width: 35rem;
}
.footer__content-left .footer__social-icon {
  display: flex;
  align-items: flex-start;
  gap: 1.6rem;
}

/*# sourceMappingURL=style.css.map */
