a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.section {
  margin-top: 4rem;
  padding: 0 14.4rem;
}
@media (max-width: 1200px) {
  .section {
    padding: 0 9rem;
  }
}
@media (max-width: 992px) {
  .section {
    padding: 0 6rem;
    margin-top: 3rem;
  }
}
@media (max-width: 768px) {
  .section {
    padding: 0 4rem;
    margin-top: 2rem;
  }
}
@media (max-width: 576px) {
  .section {
    padding: 0 2rem;
    margin-top: 3rem;
  }
}
.section__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 1.6rem;
}
@media (max-width: 576px) {
  .section__header {
    margin-bottom: 1rem;
  }
}
.section__heading {
  color: #263238;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4.4rem;
  text-align: center;
  max-width: 54.2rem;
}
@media (max-width: 992px) {
  .section__heading {
    color: #263238;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4rem;
  }
}
@media (max-width: 768px) {
  .section__heading {
    color: #263238;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.2rem;
  }
}
@media (max-width: 576px) {
  .section__heading {
    color: #263238;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem;
  }
}
.section__sub-heading {
  color: #263238;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  text-align: center;
  width: 62.8rem;
}
@media (max-width: 992px) {
  .section__sub-heading {
    color: #263238;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
    width: 50rem;
  }
}
@media (max-width: 768px) {
  .section__sub-heading {
    color: #263238;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6rem;
    width: 50rem;
  }
}
@media (max-width: 576px) {
  .section__sub-heading {
    color: #263238;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4rem;
    width: 50rem;
    width: 24rem;
  }
}

.shadow--sm {
  border-radius: 1rem;
  box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.6);
}
.shadow--md {
  border-radius: 1rem;
  box-shadow: 0px 4px 8px 0px rgba(171, 190, 209, 0.4);
}
.shadow--lg {
  border-radius: 1rem;
  box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.4);
}
.shadow--xxl {
  border-radius: 1rem;
  box-shadow: 0px 16px 32px 0px rgba(171, 190, 209, 0.3);
}

.headline1 {
  color: #263238;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 7.6rem;
}
@media (max-width: 1200px) {
  .headline1 {
    color: #263238;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4.8rem;
  }
}
@media (max-width: 992px) {
  .headline1 {
    color: #263238;
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4.4rem;
  }
}
@media (max-width: 576px) {
  .headline1 {
    color: #263238;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.6rem;
  }
}

.headline2 {
  color: #263238;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4.4rem;
}
@media (max-width: 1200px) {
  .headline2 {
    color: #263238;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4rem;
  }
}
@media (max-width: 992px) {
  .headline2 {
    color: #263238;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.6rem;
  }
}
@media (max-width: 576px) {
  .headline2 {
    color: #263238;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.2rem;
  }
}

.headline3 {
  color: #263238;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.6rem;
}
@media (max-width: 1200px) {
  .headline3 {
    color: #263238;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.2rem;
  }
}
@media (max-width: 992px) {
  .headline3 {
    color: #263238;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.8rem;
  }
}
@media (max-width: 576px) {
  .headline3 {
    color: #263238;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.4rem;
  }
}

.headline4 {
  color: #263238;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.8rem;
}
@media (max-width: 1200px) {
  .headline4 {
    color: #263238;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.4rem;
  }
}
@media (max-width: 992px) {
  .headline4 {
    color: #263238;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
  }
}
@media (max-width: 576px) {
  .headline4 {
    color: #263238;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
  }
}

.body1--regular {
  color: #263238;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem;
}
@media (max-width: 1200px) {
  .body1--regular {
    color: #263238;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
  }
}
@media (max-width: 992px) {
  .body1--regular {
    color: #263238;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
  }
}
@media (max-width: 576px) {
  .body1--regular {
    color: #263238;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
  }
}

.body2--regular {
  color: #263238;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}
@media (max-width: 1200px) {
  .body2--regular {
    color: #263238;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
  }
}
@media (max-width: 992px) {
  .body2--regular {
    color: #263238;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
  }
}
@media (max-width: 576px) {
  .body2--regular {
    color: #263238;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6rem;
  }
}

.body3--regular {
  color: #263238;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}
@media (max-width: 1200px) {
  .body3--regular {
    color: #263238;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
  }
}
@media (max-width: 992px) {
  .body3--regular {
    color: #263238;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6rem;
  }
}
@media (max-width: 576px) {
  .body3--regular {
    color: #263238;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4rem;
  }
}

.body4--regular {
  color: #263238;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem;
}

.body1--medium {
  color: #263238;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.8rem;
}
@media (max-width: 1200px) {
  .body1--medium {
    color: #263238;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem;
  }
}
@media (max-width: 992px) {
  .body1--medium {
    color: #263238;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem;
  }
}
@media (max-width: 576px) {
  .body1--medium {
    color: #263238;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
  }
}

.body2--medium {
  color: #263238;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;
}
@media (max-width: 1200px) {
  .body2--medium {
    color: #263238;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem;
  }
}
@media (max-width: 992px) {
  .body2--medium {
    color: #263238;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
  }
}
@media (max-width: 768px) {
  .body2--medium {
    color: #263238;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6rem;
  }
}
@media (max-width: 576px) {
  .body2--medium {
    color: #263238;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4rem;
  }
}

.body3--medium {
  color: #263238;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem;
}
@media (max-width: 1200px) {
  .body3--medium {
    color: #263238;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem;
  }
}
@media (max-width: 992px) {
  .body3--medium {
    color: #263238;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6rem;
  }
}
@media (max-width: 576px) {
  .body3--medium {
    color: #263238;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4rem;
  }
}

.body4--medium {
  color: #263238;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6rem;
}

.btn__primary--default {
  cursor: pointer;
  display: inline-flex;
  padding: 1.6rem 3.2rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  border: 0;
  border-radius: 0.4rem;
  background: #4caf4f;
  color: #fff;
}
@media (max-width: 1200px) {
  .btn__primary--default {
    padding: 0.8rem 1.6rem;
  }
}
.btn__primary:hover {
  cursor: pointer;
  display: inline-flex;
  padding: 1.6rem 3.2rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  border: 0;
  border-radius: 0.4rem;
  background: #4caf4f;
  color: neutral-white;
}
@media (max-width: 1200px) {
  .btn__primary:hover {
    padding: 0.8rem 1.6rem;
  }
}
.btn__primary--focus {
  cursor: pointer;
  display: inline-flex;
  padding: 1.6rem 3.2rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  border: 0;
  border-radius: 0.4rem;
  background: #4caf4f;
  color: neutral-white;
  border: 2px solid #4d4d4d;
}
@media (max-width: 1200px) {
  .btn__primary--focus {
    padding: 0.8rem 1.6rem;
  }
}
.btn__primary--click {
  cursor: pointer;
  display: inline-flex;
  padding: 1.6rem 3.2rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  border: 0;
  border-radius: 0.4rem;
  background: #388e3b;
  color: neutral-white;
}
@media (max-width: 1200px) {
  .btn__primary--click {
    padding: 0.8rem 1.6rem;
  }
}
.btn__primary--disable {
  cursor: pointer;
  display: inline-flex;
  padding: 1.6rem 3.2rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  border: 0;
  border-radius: 0.4rem;
  background: #f5f7fa;
  color: #abbed1;
}
@media (max-width: 1200px) {
  .btn__primary--disable {
    padding: 0.8rem 1.6rem;
  }
}
.btn__tertiary--default {
  cursor: pointer;
  display: inline-flex;
  padding: 1.6rem 3.2rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  border: 0;
  border-radius: 0.4rem;
  background: #f5f7fa;
  color: #4caf4f;
}
@media (max-width: 1200px) {
  .btn__tertiary--default {
    padding: 0.8rem 1.6rem;
  }
}
.btn__tertiary:hover {
  cursor: pointer;
  display: inline-flex;
  padding: 1.6rem 3.2rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  border: 0;
  border-radius: 0.4rem;
  background: #fff;
  color: #4caf4f;
}
@media (max-width: 1200px) {
  .btn__tertiary:hover {
    padding: 0.8rem 1.6rem;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Inter", sans-serif;
  background-color: #f5f7fa;
  background-color: #fff;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  width: 100%;
  padding: 3rem 10.5rem;
  background-color: #f5f7fa;
}
@media (max-width: 1200px) {
  .header {
    padding: 3rem 6rem;
  }
}
@media (max-width: 992px) {
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 2rem 2rem;
  }
}
@media (max-width: 576px) {
  .header {
    padding: 2rem 1rem;
  }
  .header__logo img {
    width: 12rem;
    height: auto;
  }
}
.header__nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5rem;
}
@media (max-width: 1200px) {
  .header__nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
  }
}
.header__regis {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.4rem;
}
.header__regis button {
  height: 4rem;
}
@media (max-width: 1200px) {
  .header__regis button {
    padding: 0.8rem 1.6rem;
  }
}
@media (max-width: 992px) {
  .header__nav, .header__regis {
    display: none;
  }
}
.header__menu-icon {
  position: absolute;
  top: 3rem;
  left: 3rem;
  cursor: pointer;
  display: none;
}
@media (max-width: 992px) {
  .header__menu-icon {
    display: block;
  }
}
@media (max-width: 768px) {
  .header__menu-icon {
    top: 2rem;
  }
}
@media (max-width: 576px) {
  .header__menu-icon {
    top: 2rem;
    right: 2rem !important;
    text-align: end;
  }
  .header__menu-icon img {
    width: 2rem;
    height: 2rem;
  }
}
.header__menu-hidden {
  background-color: #4caf4f;
  width: 30%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -20%;
  z-index: 99999;
  padding: 5rem 4rem;
  transition: all 0.3s ease-in-out;
  display: none;
}
@media (max-width: 992px) {
  .header__menu-hidden {
    left: -30%;
    display: block;
  }
}
@media (max-width: 768px) {
  .header__menu-hidden {
    width: 60%;
    left: -60%;
  }
}
@media (max-width: 576px) {
  .header__menu-hidden {
    width: 100%;
    left: -100%;
  }
}
.header__menu-hidden--active {
  left: 0;
  transition: all 0.3s ease-in-out;
}
.header__menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}
.header__close-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

.slider-container {
  position: relative;
  overflow: hidden;
  background-color: #f5f7fa;
}

.slider {
  display: flex;
  transition: transform 0.6s ease-in-out;
  width: 300%;
}
.slider__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10.4rem;
  padding: 9.6rem 14.4rem;
  width: 100%;
  margin: auto;
}
@media (max-width: 1200px) {
  .slider__item {
    padding: 6rem 9rem;
  }
}
@media (max-width: 992px) {
  .slider__item {
    padding: 2rem 4rem;
  }
}
@media (max-width: 576px) {
  .slider__item {
    padding: 1rem 2rem 3rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
}
.slider__heading span {
  color: #4caf4f;
}
.slider__sub-heading {
  margin: 1.6rem 0 3.6rem 0;
}
@media (max-width: 576px) {
  .slider__sub-heading {
    margin: 0.8rem 0 1.8rem 0;
  }
}
@media (max-width: 992px) {
  .slider__img img {
    width: 30rem;
    height: 31rem;
  }
}
@media (max-width: 768px) {
  .slider__img img {
    display: none;
  }
}
.slider__dot-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
  position: absolute;
  bottom: 1.6rem;
  left: 50%;
  transform: translateX(-50%);
}
.slider__dot-container .dot {
  opacity: 0.3;
  cursor: pointer;
}
.slider__dot-container .slider__dot--active {
  opacity: 1;
}

.content .clients-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  height: 9.8rem;
}
@media (max-width: 768px) {
  .content .clients-logo {
    height: 6rem;
  }
}
@media (max-width: 576px) {
  .content .clients-logo {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    place-items: center;
  }
}
@media (max-width: 768px) {
  .content .clients-logo img {
    width: 3.6rem;
    height: 3.6rem;
  }
}
@media (max-width: 576px) {
  .content .clients-logo img {
    width: 2.8rem;
    height: 2.8rem;
  }
}
.content .community__card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}
@media (max-width: 576px) {
  .content .community__card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
}
.content .community__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
  width: 29.9rem;
  padding: 2.4rem 3.2rem;
  text-align: center;
  flex-shrink: 0;
  border-radius: 1rem;
  box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.2);
}
@media (max-width: 992px) {
  .content .community__card {
    padding: 1.2rem 1.6rem;
    width: 20rem;
  }
}
@media (max-width: 768px) {
  .content .community__card {
    width: 16rem;
  }
}
@media (max-width: 576px) {
  .content .community__card {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .content .community__heading {
    font-size: 1.8rem;
  }
}
@media (max-width: 768px) {
  .content .community__sub-heading {
    display: none;
  }
}
.content .community__card-img {
  margin-bottom: 1.6rem;
}
.content__body .section {
  margin-top: 4.8rem;
}
@media (max-width: 768px) {
  .content__body .section {
    margin-top: 3.6rem;
  }
}
@media (max-width: 576px) {
  .content__body .section {
    margin-top: 2.4rem;
  }
}
.content__body .unlock,
.content__body .calenders {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}
@media (max-width: 768px) {
  .content__body .unlock,
  .content__body .calenders {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
  }
}
.content__body .unlock__img,
.content__body .calenders__img {
  padding: 5.2rem 0;
}
@media (max-width: 768px) {
  .content__body .unlock__img,
  .content__body .calenders__img {
    padding: 3rem 0;
  }
}
@media (max-width: 576px) {
  .content__body .unlock__img,
  .content__body .calenders__img {
    padding: 2rem 0;
    text-align: center;
  }
  .content__body .unlock__img img,
  .content__body .calenders__img img {
    width: 80%;
    height: auto;
  }
}
.content__body .unlock__text,
.content__body .calenders__text {
  width: 66rem;
}
@media (max-width: 768px) {
  .content__body .unlock__text,
  .content__body .calenders__text {
    width: 100%;
  }
}
.content__body .unlock__heading,
.content__body .calenders__heading {
  margin-bottom: 1.6rem;
}
@media (max-width: 768px) {
  .content__body .unlock__heading,
  .content__body .calenders__heading {
    color: #263238;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.2rem;
  }
}
@media (max-width: 576px) {
  .content__body .unlock__heading,
  .content__body .calenders__heading {
    color: #263238;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.2rem;
    margin-bottom: 1.2rem;
  }
}
.content__body .unlock__sub-heading,
.content__body .calenders__sub-heading {
  margin-bottom: 3.2rem;
}
@media (max-width: 768px) {
  .content__body .unlock__sub-heading,
  .content__body .calenders__sub-heading {
    color: #263238;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6rem;
    margin-bottom: 2.4rem;
  }
}
@media (max-width: 576px) {
  .content__body .unlock__sub-heading,
  .content__body .calenders__sub-heading {
    color: #263238;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4rem;
    margin-bottom: 1.6rem;
  }
}
.content__body .achievements {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  background-color: #f5f7fa;
  padding: 6.4rem 14.4rem;
}
@media (max-width: 1200px) {
  .content__body .achievements {
    padding: 4 9rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
}
@media (max-width: 992px) {
  .content__body .achievements {
    padding: 4rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
}
@media (max-width: 576px) {
  .content__body .achievements {
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
}
.content__body .achievements__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.8rem;
  width: 54rem;
}
@media (max-width: 1200px) {
  .content__body .achievements__text {
    width: 40rem;
  }
}
@media (max-width: 992px) {
  .content__body .achievements__text {
    width: 100%;
  }
}
.content__body .achievements__heading {
  width: 40rem;
}
.content__body .achievements__heading span {
  color: #4caf4f;
}
@media (max-width: 992px) {
  .content__body .achievements__heading, .content__body .achievements__sub-heading {
    width: 100%;
    text-align: center;
  }
}
.content__body .achievements__counts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem 3rem;
  width: 54rem;
}
@media (max-width: 992px) {
  .content__body .achievements__counts {
    width: 100%;
    place-items: center;
  }
}
@media (max-width: 576px) {
  .content__body .achievements__counts {
    width: 100%;
    place-items: center;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
.content__body .achievements__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.6rem;
}
@media (max-width: 576px) {
  .content__body .achievements__item {
    gap: 5rem;
  }
}
.content__body .customers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 7.8rem;
  padding: 3.2rem 14.4rem;
  background-color: #f5f7fa;
}
@media (max-width: 1200px) {
  .content__body .customers {
    padding: 4rem 9rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 4rem;
  }
}
@media (max-width: 992px) {
  .content__body .customers {
    padding: 4rem 6rem;
  }
}
@media (max-width: 992px) {
  .content__body .customers {
    padding: 3rem 4rem;
    display: block;
  }
}
@media (max-width: 992px) {
  .content__body .customers {
    padding: 2rem 2rem;
  }
}
.content__body .customers__img img {
  width: 32.6rem;
  height: 32.6rem;
  flex-shrink: 0;
  border-radius: 0.8rem;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.4);
}
@media (max-width: 1200px) {
  .content__body .customers__img img {
    width: 20rem;
    height: 20rem;
  }
}
@media (max-width: 992px) {
  .content__body .customers__img img {
    display: none;
  }
}
.content__body .customers__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.2rem;
}
.content__body .customers__comment {
  margin-bottom: 1.6rem;
  color: #717171;
}
.content__body .customers__name {
  color: #4caf4f;
}
.content__body .customers__role {
  color: #89939e;
}
.content__body .customers__text-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 3.2rem;
  width: 100%;
}
@media (max-width: 576px) {
  .content__body .customers__text-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 3.2rem;
  }
}
.content__body .customers__icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 4.1rem;
}
@media (max-width: 768px) {
  .content__body .customers__icon img {
    width: 3.6rem;
    height: 3.6rem;
  }
}
@media (max-width: 768px) {
  .content__body .customers__icon {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    place-items: center;
  }
}
.content__body .community-updates {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.6rem;
}
.content__body .community-updates__content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 1200px) {
  .content__body .community-updates__content {
    grid-template-columns: 1fr 1fr;
    gap: 12rem 3rem;
  }
}
@media (max-width: 768px) {
  .content__body .community-updates__content {
    display: flex;
    overflow-x: auto;
    overflow-y: auto;
    height: 34rem;
  }
}
@media (max-width: 576px) {
  .content__body .community-updates__content {
    height: 24rem;
  }
}
.content__body .community-updates__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.6rem;
  position: relative;
  height: fit-content;
}
.content__body .community-updates__card .community-updates__img img {
  width: 36.8rem;
  height: 28.6rem;
  object-fit: cover;
  border-radius: 0.8rem;
}
@media (max-width: 992px) {
  .content__body .community-updates__card .community-updates__img img {
    width: 30rem;
    height: auto;
  }
}
@media (max-width: 576px) {
  .content__body .community-updates__card .community-updates__img img {
    width: 20rem;
    height: auto;
  }
}
.content__body .community-updates__card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.6rem;
  position: absolute;
  bottom: -9.6rem;
  padding: 1.6rem;
  border-radius: 0.8rem;
  background: #f5f7fa;
  border-radius: 1rem;
  box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.4);
}
.content__body .community-updates__card-info p {
  width: 27rem;
  text-align: center;
}
@media (max-width: 992px) {
  .content__body .community-updates__card-info p {
    width: 18rem;
    font-size: 1.2rem;
  }
}
@media (max-width: 576px) {
  .content__body .community-updates__card-info p {
    width: 14rem;
    font-size: 0.8rem;
    line-height: 1.4rem;
  }
}
.content__body .community-updates__card-info button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  padding: 0.8rem;
  align-self: stretch;
}
@media (max-width: 768px) {
  .content__body .community-updates__card-info {
    height: 14rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem;
  }
}
@media (max-width: 576px) {
  .content__body .community-updates__card-info {
    height: 10rem;
    gap: 1rem;
    bottom: -6rem;
    padding: 1.2rem;
  }
}

.footer {
  margin-top: 16rem;
}
@media (max-width: 992px) {
  .footer {
    margin-top: 12rem;
  }
}
@media (max-width: 768px) {
  .footer {
    margin-top: 6rem;
  }
}
.footer__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3.2rem;
  padding: 3.2rem 4rem;
  background-color: #f5f7fa;
}
.footer__top p {
  width: 88.7rem;
  text-align: center;
}
@media (max-width: 768px) {
  .footer__top p {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .footer__top {
    padding: 2rem 2rem;
  }
}
.footer__content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 12.5rem;
  background: #263238;
  padding: 6.4rem 16.5rem;
}
@media (max-width: 1200px) {
  .footer__content {
    padding: 4rem 9rem;
    gap: 1rem;
  }
}
@media (max-width: 992px) {
  .footer__content {
    padding: 4rem 6rem;
  }
}
@media (max-width: 768px) {
  .footer__content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5rem;
    flex-wrap: wrap;
  }
}
@media (max-width: 576px) {
  .footer__content {
    padding: 2rem 2rem;
  }
}
.footer__content-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4rem;
}
@media (max-width: 768px) {
  .footer__content-left .footer__logo img {
    width: 16rem;
    height: auto;
  }
}
.footer__content-left .footer__copyright-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
  color: #717171;
}
.footer__content-left .footer__copyright-info p {
  width: 35rem;
}
@media (max-width: 1200px) {
  .footer__content-left .footer__copyright-info p {
    width: 24rem;
  }
}
@media (max-width: 768px) {
  .footer__content-left .footer__copyright-info p {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .footer__content-left .footer__copyright-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.8rem;
  }
}
.footer__content-left .footer__social-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.6rem;
}
@media (max-width: 768px) {
  .footer__content-left {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
@media (max-width: 576px) {
  .footer__content-left {
    order: 2;
  }
}
.footer__content-right {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
  color: #fff;
}
@media (max-width: 1200px) {
  .footer__content-right {
    gap: 1.6rem;
  }
}
@media (max-width: 992px) {
  .footer__content-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .footer__content-right {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
@media (max-width: 576px) {
  .footer__content-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    order: 1;
  }
}
.footer__content-right .footer__sm-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.4rem;
  width: 16rem;
}
@media (max-width: 576px) {
  .footer__content-right .footer__sm-col {
    width: 100%;
    gap: 1rem;
    text-align: center;
  }
}
.footer__content-right .footer__lg-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.4rem;
  width: 25.5rem;
}
@media (max-width: 576px) {
  .footer__content-right .footer__lg-col {
    width: 100%;
    gap: 1rem;
  }
}
.footer__heading {
  color: #fff;
  width: 100%;
}
.footer__nav-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.2rem;
  width: 100%;
}
.footer__nav-container li {
  width: 100%;
}
.footer__input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  padding: 0 1.2rem;
  width: 25.5rem;
  height: 4rem;
  flex-shrink: 0;
  border-radius: 0.8rem;
  opacity: 0.4;
  background: #fff;
}
.footer__input input {
  outline: none;
  border: none;
}
.footer__input img {
  cursor: pointer;
  opacity: 1;
}
@media (max-width: 576px) {
  .footer__input {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
