@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;
a {
  text-decoration: none;
  color: inherit;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shadow {
  &--sm {
    @include shadow(2px, 4px, rgba(171, 190, 209, 0.6));
  }
  &--md {
    @include shadow(4px, 8px, rgba(171, 190, 209, 0.4));
  }
  &--lg {
    @include shadow(8px, 16px, rgba(171, 190, 209, 0.4));
  }

  &--xxl {
    @include shadow(16px, 32px, rgba(171, 190, 209, 0.3));
  }
}
