@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: $font-family-base;
  background-color: $neutral-white;
}
a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.section {
  margin-top: 4rem;
  padding: 0 14.4rem;
  @include xl {
    padding: 0 9rem;
  }
  @include lg {
    padding: 0 6rem;
    margin-top: 3rem;
  }
  @include md {
    padding: 0 4rem;
    margin-top: 2rem;
  }
  @include sm {
    padding: 0 2rem;
    margin-top: 3rem;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 1.6rem;
    @include sm {
      margin-bottom: 1rem;
    }
  }
  &__heading {
    @include text-style($neutral-d-grey, 3.6rem, normal, 600, 4.4rem);
    text-align: center;
    max-width: 54.2rem;
    @include lg {
      @include text-style($neutral-d-grey, 3.2rem, normal, 600, 4rem);
    }
    @include md {
      @include text-style($neutral-d-grey, 2.4rem, normal, 500, 3.2rem);
    }
    @include sm {
      @include text-style($neutral-d-grey, 1.8rem, normal, 500, 2.4rem);
    }
  }
  &__sub-heading {
    @include text-style($neutral-grey, 1.6rem, normal, 400, 2.4rem);
    text-align: center;
    width: 62.8rem;
    @include lg {
      @include text-style($neutral-grey, 1.4rem, normal, 600, 2rem);
      width: 50rem;
    }
    @include md {
      @include text-style($neutral-grey, 1.2rem, normal, 500, 1.6rem);
      width: 50rem;
    }
    @include sm {
      @include text-style($neutral-grey, 1rem, normal, 500, 1.4rem);
      width: 50rem;
      width: 24rem;
    }
  }
}

.shadow {
  &--sm {
    @include shadow(2px, 4px, rgba(171, 190, 209, 0.6));
  }
  &--md {
    @include shadow(4px, 8px, rgba(171, 190, 209, 0.4));
  }
  &--lg {
    @include shadow(8px, 16px, rgba(171, 190, 209, 0.4));
  }

  &--xxl {
    @include shadow(16px, 32px, rgba(171, 190, 209, 0.3));
  }
}
