@use "variables" as *;

@mixin flexbox($align: center, $justify: flex-start, $direction: row, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin text-style($color, $fsize, $fstyle, $fweight, $lheight) {
  color: $color;
  font-size: $fsize;
  font-style: $fstyle;
  font-weight: $fweight;
  line-height: $lheight;
}

@mixin button-style($bg-color, $text-color) {
  cursor: pointer;
  display: inline-flex;
  padding: 1.6rem 3.2rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  border: 0;
  border-radius: 0.4rem;
  background: $bg-color;
  color: $text-color;
}

@mixin shadow($v-offset, $blur, $color) {
  border-radius: 1rem;
  box-shadow: 0px $v-offset $blur 0px $color;
}

//responsive

@mixin sm {
  @media (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin md {
  @media (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin lg {
  @media (max-width: $breakpoint-lg) {
    @content;
  }
}

@mixin xl {
  @media (max-width: $breakpoint-xl) {
    @content;
  }
}
