<head>
  <link rel="stylesheet" href="/w3_30-6/scss/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet"
  />
</head>

<body>
  <div class="header">
    <div class="header__logo">
      <a href="/w3_30-6/index.html"
        ><img src="/w3_30-6/assets/full-logo.svg" alt="logo"
      /></a>
    </div>
    <div class="header__nav">
      <ul>
        <li class="header__nav-item body2--medium">
          <a href="/w3_30-6/index.html">Home</a>
        </li>
        <li class="header__nav-item body2--medium">
          <a href="/w3_30-6/pages/service.html">Service</a>
        </li>
        <li class="header__nav-item body2--medium">
          <a href="/w3_30-6/pages/feature.html">Feature</a>
        </li>
        <li class="header__nav-item body2--medium">
          <a href="/w3_30-6/pages/product.html">Product</a>
        </li>
        <li class="header__nav-item body2--medium">
          <a href="/w3_30-6/pages/testimonial.html">Testimonial</a>
        </li>
        <li class="header__nav-item body2--medium">
          <a href="/w3_30-6/pages/faq.html">FAQ</a>
        </li>
      </ul>
    </div>
    <div class="header__regis">
      <button class="btn btn__tertiary btn__tertiary--default">Login</button>
      <button class="signup-btn btn btn__primary btn__primary--default">
        Sign up
      </button>
    </div>
    <div class="header__menu-icon">
      <img src="/w3_30-6/assets/menu.svg" width="28px" height="28px" alt="" />
    </div>
  </div>
  <div class="header__menu-hidden">
    <div class="header__close-btn">
      <img src="/w3_30-6/assets/close.svg" alt="" />
    </div>
    <div class="header__menu-list">
      <a href="/w3_30-6/index.html" class="header__menu-item body1--medium"
        >Home</a
      ><a
        href="/w3_30-6/pages/service.html"
        class="header__menu-item body1--medium"
        >Service</a
      ><a
        href="/w3_30-6/pages/feature.html"
        class="header__menu-item body1--medium"
        >Feature</a
      ><a
        href="/w3_30-6/pages/product.html"
        class="header__menu-item body1--medium"
        >Product</a
      ><a
        href="/w3_30-6/pages/testimonial.html"
        class="header__menu-item body1--medium"
        >Testimonial</a
      ><a href="/w3_30-6/pages/faq.html" class="header__menu-item body1--medium"
        >FAQ</a
      ><a href="" class="header__menu-item body1--medium">Signup</a
      ><a href="" class="header__menu-item body1--medium">Log in</a>
    </div>
  </div>
  <div class="slider-container">
    <div class="slider">
      <div class="slider__item">
        <div class="slider__text">
          <div class="slider__heading headline1">
            <p>
              Lessons and insights <br />
              <span>from 8 years 11</span>
            </p>
          </div>
          <div class="slider__sub-heading body2--regular">
            <p>
              Where to grow your business as a photographer: site or social
              media?
            </p>
          </div>
          <div
            class="register-btn btn btn__primary btn__primary--default body2--medium"
          >
            Register
          </div>
        </div>
        <div class="slider__img">
          <img src="/w3_30-6/assets/slider-img.svg" alt="" />
        </div>
      </div>
      <div class="slider__item">
        <div class="slider__text">
          <div class="slider__heading headline1">
            <p>
              Lessons and insights <br />
              <span>from 8 years 2222</span>
            </p>
          </div>
          <div class="slider__sub-heading body2--regular">
            <p>
              Where to grow your business as a photographer: site or social
              media?
            </p>
          </div>
          <div
            class="register-btn btn btn__primary btn__primary--default body2--medium"
          >
            Register
          </div>
        </div>
        <div class="slider__img">
          <img src="/w3_30-6/assets/slider-img.svg" alt="" />
        </div>
      </div>
      <div class="slider__item">
        <div class="slider__text">
          <div class="slider__heading headline1">
            <p>
              Lessons and insights <br />
              <span>from 8 years 333</span>
            </p>
          </div>
          <div class="slider__sub-heading body2--regular">
            <p>
              Where to grow your business as a photographer: site or social
              media?
            </p>
          </div>
          <div
            class="register-btn btn btn__primary btn__primary--default body2--medium"
          >
            Register
          </div>
        </div>
        <div class="slider__img">
          <img src="/w3_30-6/assets/slider-img.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="slider__dot-container">
      <img
        src="/w3_30-6/assets/dot.svg"
        alt=""
        class="dot slider__dot--active"
      />
      <img src="/w3_30-6/assets/dot.svg" alt="" class="dot" />
      <img src="/w3_30-6/assets/dot.svg" alt="" class="dot" />
    </div>
    <div class="slider__btn-container">
      <div class="pre-btn">
        <img src="/w3_30-6/assets/arrow-left.svg" alt="" />
      </div>
      <div class="next-btn">
        <img src="/w3_30-6/assets/arrow-right.svg" alt="" />
      </div>
    </div>
  </div>
  <script src="../main.js"></script>
</body>
